.footer{
    padding: 100px 50px;
    background-color: #151515;
    display: flex;
    justify-content: center;
    .center{
        width: 100%;
        display: flex;
        .footLogo{
            margin-right: 5%;
            >a{
                >img{
                    
                }
            }
        }
        .infoWrap{
            width: 37%;
            display: flex;
            flex-direction: column;
            .sub{
                color: #999;
                margin-bottom: 100px;
                h3{
                    font-size: 16px;
                    margin-bottom: 10px;
                }
                p{
                    line-height: 18px;
                    font-size: 15px;
                    font-weight: bold;
                }
            }
            .wrap{
                .sns{
                    display: flex;
                    margin-bottom: 20px;
                    li{
                        width: 40px;
                        height: 40px;
                        border-radius: 40px;
                        background-color: #ffc600;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0 10px;
                        >i{
                            font-size: 20px;
                        }
                    }
                }
                >p{
                    color: #999;
                    font-size: 20px;
                }
            }
        }
        .footGnbWrap{
            display: flex;
            .footGnb{
                margin-right: 30px;
                >li{
                    margin-bottom: 40px;
                    font-size: 25px;
                    >a{
                        color: #999;
                        transition: all .5s;
                    }
                    &:hover{
                        >a{
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}