@import "reset";
@import "header";
@import "footer";
body{transition: all .5s;}

.container{
    .cont1{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: hidden;
        .contentWrap{
            position: relative;
            width: 100%;
            height: 24.7vw;
            padding: 0;
            margin: 0 5.2%;
            overflow: hidden;
            z-index: 2;
            max-width: none;
            .intro_vid{
                position: absolute;
                left: 0;
                top: 0;
                min-width: 100%;
                min-height: 100%;
                width: 100%;
            }
            >img{
                position: absolute;
                left: 50%;
                top: 50%;
                min-width: 100vw;
                height: auto;
                transform: translate(-50%, -50%);
            }
            .intro{
                top: -1px;
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                align-items: end;
                position: relative;
                .polygonWrap{
                    position: relative;
                    z-index: 2;
                    .polygonBox{
                        position: relative;
                        overflow: hidden;
                        display: flex;
                        justify-content: flex-start;
                        .polygon{
                            height: 6.5vw;
                            width: 41vw;
                            background-size: auto;
                            position: relative;
                            transition: all .8s;
                            transform: translateY(0%);
                            background-color: #fff;
                         }
                    }
                    
                }
                .introTxt{
                    font-size: 8vw;
                    font-weight: bold;
                    line-height: .83;
                    overflow: hidden;
                    .text{
                        display: block;
                        transition: all .8s;
                        transform: translateY(100%);
                    }
                }
            }
            .intro2{
                top: 24%;
                transform: translateY(-50%);
                .polygonWrap{
                    .polygonBox{
                        .polygon{
                            width: 67.5vw;
                         }
                    }
                    
                }
            }
            .intro3{
                top: 34.5%;
                transform: translateY(-50%);
                align-items: center;
                .polygonWrap{
                    .polygonBox{
                        .polygon{
                            width: 45.8vw
                         }
                    }
                    
                }
                .introTxt2{
                    width: 18.8vw;
                    color: #999;
                    word-break: keep-all;
                    margin-left: 20px;
                    line-height: 1.9;
                    font-size: .885vw;;
                    font-weight: bold;
                    .text{
                        display: block;
                        transition: all .8s;
                        transform: translateY(100%);
                    }
                }
            }
            .world_rotate{
                opacity: 0;
                transition: all .5s;
                position: absolute;
                bottom: 30px;
                left: 15px;
                z-index: 3;
                
                &:hover{
                    &::before{
                        animation: rotate 5s linear infinite;
                    }
                }
                &::before{
                    cursor: pointer;
                    content: "";
                    display: block;
                    width: 132px;
                    height: 132px;
                    background: url(/img/btn_world_txt.png) no-repeat center center;
                    background-size: 100%;
                    position: absolute;
                    top: -17px;
                    left: -17px;
                    animation: rotate 10s linear infinite;
                }
                @keyframes rotate {
                    0% {
                        transform: rotate(0deg)
                    }
                
                    100% {
                        transform: rotate(360deg)
                    }
                  }
                img{
                    width: 99px;
                    height: 99px;
                }
            }
        }
    }
    .cont2{
        position: relative;
        height: 100vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        .blindBgWrap{
            position: absolute;
            transition: all 3s;
            top: 0;
            width: 100%;
            height: 100vh;
            overflow: hidden;
            background-color: #000;
            .blindBg{
                overflow: hidden;
                background-color: #fff;
                width: 100%;
                height: 20%;
                transform: scale(1,0);
                transition: all 1s;
            }
        }
        // .txtWrap{
        //     width: 100%;
        //     height: 100vh;
        //     top: 0;
        //     left: 0;
        //     .bigFont{
        //         position: absolute;
        //         font-size: 70px;
        //         transition: all 2s;
        //     }
        //     .bigFont1{
        //         top: 40%;
        //         left: 30%;
        //         transform: translate(-50%,-50%) scale(25);
        //     }
        // }
        .subTxt{
            display: flex;
            flex-direction: column;
            align-items: center;
            .title{
                overflow: hidden;
                >span{
                    display: block;
                    transition: all .5s;
                    opacity: 0;
                    transform: translateY(100%);
                    font-size: 130px;
                    
                }
            }
            .context{
                overflow: hidden;
                >p{
                    opacity: 0;
                    transition: all .5s;
                    transform: translateY(140%);
                    margin: 30px 0;
                    word-break: keep-all;
                    text-align: center;
                    line-height: 26px;
                    span{
                        color: #c03540;
                    }
                }
            }
            .more{
                overflow: hidden;
                >a{
                    opacity: 0;
                    
                    transition: all .5s;
                    display: flex;
                    width: 150px;
                    padding: 10px 0;
                    justify-content: center;
                    border: 1px solid #000;
                    border-radius: 30px;
                    color: #000;
                }
            }
        }
    }
    .flowBrand{
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #151515;
        overflow: hidden;
        border-bottom: 1px solid #fff;
        .brands{
            display: flex;
            align-items: center;
            >img{
                width: 100px;
                max-width: none;
                max-height: 70%;
                margin: 0 20px;
            }
        }
        .brands2{
            background-color: #ffc600;
            >img{
                width: auto;
            }
            >span{
                width: 350px;
                font-size: 30px;
            }
        }
        .brands1.original{
            animation: 40s linear 0s infinite normal forwards running rollingleft1;
        }
        .brands1.clone{
            animation: 40s linear 0s infinite normal none running rollingleft2;
        }
        .brands2.original{
            animation: 40s linear 0s infinite normal forwards running rollingleft1;
        }
        .brands2.clone{
            animation: 40s linear 0s infinite normal none running rollingleft2;
        }
        @keyframes rollingleft1 { /* 원본용 */
            0% {
                transform: translateX(0);
            }
            50% {
                transform: translateX(-100%);
            }
            50.1%{
                transform: translateX(100%);
            }
            100%{
                transform: translateX(0);
            }
        }
        
        @keyframes rollingleft2 { /* 클론용 */
            0% {
                transform: translateX(0);
            }
            100% {
                transform: translateX(-200%);
            }
        }
    }
    .flowBrand2{
        background-color: #ffc600;
    }
    .cont3{
        background-color: #151515;
        height: 100vh;
        padding-top: 30px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .titleWrap{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 200px;
            width: 80%;
            .title{
                color: #fff;
                font-size: 70px;
            }
            a{
                display: flex;
                align-items: center;
                width: 150px;
                height: 40px;
                justify-content: center;
                border: 1px solid #fff;
                border-radius: 30px;
                color: #fff;
            }
        }
        .tabMenu{
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            >li{
                cursor: pointer;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25%;
                height: 80px;
                &:nth-child(1){
                    color: #000;
                    background-color: #ffc600;
                }
            }
        }
        .views{
            height: 60vh;
            position: relative;
            width: 100%;
            .view{
                display: flex;
                align-items: center;
                position: absolute;
                opacity: 0;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: all 0.5s;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                .textWrap{
                    margin-left: 150px;
                    cursor: pointer;
                    h2{
                        -webkit-text-stroke: 1px #fff;
                        color: #fff;
                        opacity: .5;
                        font-size: 50px;
                        transition: all .5s;
                        margin-bottom: 15px;
                    }
                    p{
                        color: #fff;
                        line-height: 25px;
                        opacity: 0;
                        transition: 0.5s;
                    }
                    
                }
                &:hover{
                    .textWrap{
                        h2{
                            opacity: 1;
                            -webkit-text-stroke: 0;  
                            color: #fff;
                        }
                        p{
                            opacity: 1;
                        }
                    }
                }
                &:nth-child(1){background-image: url(/img/tabBg01.png); opacity: 1; z-index: 2;}
                &:nth-child(2){background-image: url(/img/tabBg02.png);}
                &:nth-child(3){background-image: url(/img/tabBg03.png);}
                &:nth-child(4){background-image: url(/img/tabBg04.png);}
            }
        }

    }
    .cont4{
        display: flex;
        justify-content: center;

        .center{
            width: 85%;
            padding: 80px 0;
            >h2{
                font-size: 90px;
                padding: 20px 0;
                border-bottom: 1px solid #000;
            }
            .lists{
                display: flex;
                position: relative;
                border-bottom: 1px solid #000;
                cursor: pointer;
                .textWrap{
                    padding: 100px 0;
                    .title{
                        transform: translateY(100%);
                        transition: all .5s;
                        font-size: 36px;
                        margin-bottom: 20px;
                        height: 0;
                        overflow: hidden;
                    }
                    p{
                        color: #999;
                        transition: all .5s;
                        line-height: 25px;
                        height: 0px;
                        overflow: hidden;
                    }
                }
                img{
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%) scale(0);
                    transition: all .5s;
                    
                }
                .img2{
                    transition-delay: .2s;
                }
                &:hover{
                    .textWrap{
                        p{
                            height: 51px;
                        }
                    }
                    img{
                        transform: translateY(-50%) scale(1);
                    }
                }
            }
        }
    }
    .cont5{
        display: flex;
        justify-content: center;
        .center{
            position: relative;
            width: 85%;
            padding: 80px 0;
            .titleWrap{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 200px;
                .title{
                    color: #000;
                    font-size: 70px;
                }
                >a{
                    display: flex;
                    align-items: center;
                    width: 150px;
                    height: 40px;
                    justify-content: center;
                    border: 1px solid #000;
                    border-radius: 30px;
                    color: #000;
                }
            }
            .titleWrap.on{
                .title{
                    color: #fff;
                }
                a{
                    color: #fff;
                    border: 1px solid #fff;
                }
            }
            .swiper{
                .swiper-slide{
                    background-position:center center; display:flex; 
                    background-size:cover; background-repeat:no-repeat;
                }
                .slidebg{
                    background-color: #0000007e;
                    height: 100%;
                    width: 100%;
                    position: relative;
                    .txt{
                        padding: 20px;
                        color: #fff;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        word-break: keep-all;
                        overflow: hidden;
                    }
                    .playBtn{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        // -webkit-transform: translate(-50%, -50%);
                        font-weight: 600;
                        font-size: 25px;
                        color: #fff;
                        cursor: pointer;
                        z-index: 5;
                        &::before{
                            content: "";
                            display: block;
                            width: 132px;
                            height: 132px;
                            background: url(/img/play_txt.png) no-repeat center center;
                            background-size: contain;
                            position: absolute;
                            left: -68%;
                            top: -220%;
                            transform: translate(-50%, -50%);
                            // transform-origin: top left;
                            animation: rotate 10s linear infinite;
                            animation-delay: .7s;
                        }
                        @keyframes rotate {
                            0% {
                                transform: rotate(0deg)
                            }
                        
                            100% {
                                transform: rotate(360deg)
                            }
                        }
                    }
                }
            }
            .slideWrap{
                display: grid;
                grid-template-columns: 75% 25%;
                gap: 2rem;
                .swiper{
                    width:100%;
                    .bigSlide{
                        width: 70%;
                        transition: all .5s;
                        .slide{
                            display: flex;
                            width: 100%;
                            height: 650px;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: 100% 100%;
                            &:nth-child(1){background-image: url(/img/slide/slide8.png);}
                            &:nth-child(2){background-image: url(/img/slide/slide1.png);}
                            &:nth-child(3){background-image: url(/img/slide/slide2.png);}
                            &:nth-child(4){background-image: url(/img/slide/slide3.png);}
                            &:nth-child(5){background-image: url(/img/slide/slide4.png);}
                            &:nth-child(6){background-image: url(/img/slide/slide5.png);}
                            &:nth-child(7){background-image: url(/img/slide/slide6.png);}
                            &:nth-child(8){background-image: url(/img/slide/slide7.png);}
                            &:nth-child(9){background-image: url(/img/slide/slide8.png);}
                            &:nth-child(10){background-image: url(/img/slide/slide1.png);}
                        }
                    }
                    .smallSlide{
                        align-items: end;
                        width: 30%;
                        height: 100%;
                        .slide{
                            width: 100%;
                            height: 250px;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: 100% 100%;
                            &:nth-child(1){background-image: url(/img/slide/slide1.png);}
                            &:nth-child(2){background-image: url(/img/slide/slide2.png);}
                            &:nth-child(3){background-image: url(/img/slide/slide3.png);}
                            &:nth-child(4){background-image: url(/img/slide/slide4.png);}
                            &:nth-child(5){background-image: url(/img/slide/slide5.png);}
                            &:nth-child(6){background-image: url(/img/slide/slide6.png);}
                            &:nth-child(7){background-image: url(/img/slide/slide7.png);}
                            &:nth-child(8){background-image: url(/img/slide/slide8.png);}
                            &:nth-child(9){background-image: url(/img/slide/slide1.png);}
                            &:nth-child(10){background-image: url(/img/slide/slide2.png);}
                        }
                    }
                    .swiper-button-prev{
                        left: 43%;
                        i{
                            color: #000;
                        }
                        &::after{
                            content:"";
                        }
                    }
                    .swiper-button-next{
                        right: 43%;
                        i{
                            color: #000;
                        }
                        &::after{
                            content:"";
                        }
                    }
                }
            }
        }
    }
    .cont6{
        opacity: 0;
        transform: translateY(30%);
        transition: all .5s;
        display: flex;
        justify-content: center;
        overflow: hidden;
        .center{
            position: relative;
            width: 85%;
            padding: 80px 0;
            .titleWrap{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 200px;
                .title{
                    color: #000;
                    font-size: 70px;
                }
                >a{
                    display: flex;
                    align-items: center;
                    width: 150px;
                    height: 40px;
                    justify-content: center;
                    border: 1px solid #000;
                    border-radius: 30px;
                    color: #000;
                }
            }
            .shopList{
                display: grid;
                grid-template-columns: repeat(4,2fr);
                box-sizing: border-box;
                .showBox{
                    color: #000;
                    transition: all .5s;
                    position: relative;
                    padding: 20px;
                    border: 1px solid #000;
                    box-sizing: border-box;
                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(5),
                    &:nth-child(6),
                    &:nth-child(7){
                        border-right: none;
                    }
                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4){
                        border-bottom: none;
                    }
                    .imgWrap{
                        position: relative;
                        overflow: hidden;
                        height: 35vh;
                        background-color: #fff;
                        >img{
                            transition: all .5s;
                            &:nth-child(1){opacity: 1;}
                            &:nth-child(2){opacity: 0;}
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .textWrap{
                        padding: 10px 0;
                        h3{
                            font-size: 16px;
                            margin-bottom: 15px;
                        }
                    }
                    &:hover{
                        background-color: #ffc600;
                        .imgWrap{
                            >img{
                                &:nth-child(1){
                                    opacity: 0;
                                }
                                &:nth-child(2){
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .cont7{
        display: flex;
        justify-content: center;
        .center{
            position: relative;
            width: 85%;
            padding: 80px 0;
            .titleWrap{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 200px;
                .title{
                    color: #000;
                    font-size: 70px;
                }
                >a{
                    display: flex;
                    align-items: center;
                    width: 150px;
                    height: 40px;
                    justify-content: center;
                    border: 1px solid #000;
                    border-radius: 30px;
                    color: #000;
                }
            }
            .newsList{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .news{
                    width: 24%;
                    .link{
                        width: 100%;
                        >img{
                            width: 100%;
                        }
                        .title{
                            color: #000;
                            font-weight: 600;
                            font-size: 21px;
                            margin-top: 20px;
                            line-height: 1.4;
                            word-break: keep-all;
                        }
                    }
                }
            }
        }
    }
}