<div class="footer">
    <div class="center">
        <h1 class="footLogo">
            <a href="/">
                <img src="/img/foot_logo.png">
            </a>
        </h1>
        <div class="infoWrap">
            <div class="address sub">
                <h3>ADDRESS</h3>
                <p>부산: 부산시 남구 전포대로 133 Wework</p>
                <p>서울: 서울시 종로구 종로 66 Clubhouse</p>
            </div>
            <div class="contact sub">
                <h3>CONTACT</h3>
                <p>E-MAIL : contact@sbxg.gg</p>
            </div>
            <div class="wrap">
                <ul class="sns">
                    <li><i class="fa-brands fa-instagram"></i></li>
                    <li><i class="fa-brands fa-youtube"></i></li>
                    <li><i class="fa-brands fa-facebook-f"></i></li>
                    <li><i class="fa-brands fa-twitch"></i></li>
                    <li><i class="fa-brands fa-twitter"></i></li>
                    <li><i class="fa-brands fa-tiktok"></i></li>
                </ul>
                <p class="copyright">Copyright © 2022 SBXG Inc. All Rights Reserved</p>
            </div>
        </div>
        <div class="footGnbWrap">
            <ul class="footGnb">
                <li><a href="#">WE ARE SBXG</a></li>
                <li><a href="#">ESPORTS TEAMS</a></li>
                <li><a href="#">OUR BUSINESS</a></li>
                <li><a href="#">SHOP</a></li>
            </ul>
            <ul class="footGnb">
                <li><a href="#">MEDIA</a></li>
                <li><a href="#">WORK&PRESS</a></li>
                <li><a href="#">OUR PARTNERS</a></li>
            </ul>
        </div>
    </div>
</div>